################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/App_Data
/test
/.htaccess
/mail
/website.publishproj
/.git
